<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>chapter00</string>
		<string>ps</string>
		<string>end</string>
		<string>chapter07</string>
		<string>chapter08</string>
		<string>chapter09</string>
		<string>chapter06</string>
		<string>chapter05</string>
		<string>chapter04</string>
		<string>chapter03</string>
		<string>chapter02</string>
		<string>chapter01</string>
	</array>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>chapter00</key>
			<dict>
				<key>lastModification</key>
				<real>544004435.11556494</real>
				<key>version</key>
				<dict>
					<key>ddc2126949ee6c32f860db5427f1bb375982765f2e604047efd49e58fc3e00d3</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>chapter01</key>
			<dict>
				<key>lastModification</key>
				<real>544004435.16122603</real>
				<key>version</key>
				<dict>
					<key>ddc2126949ee6c32f860db5427f1bb375982765f2e604047efd49e58fc3e00d3</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>chapter02</key>
			<dict>
				<key>lastModification</key>
				<real>544004435.18845105</real>
				<key>version</key>
				<dict>
					<key>ddc2126949ee6c32f860db5427f1bb375982765f2e604047efd49e58fc3e00d3</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>chapter03</key>
			<dict>
				<key>lastModification</key>
				<real>544004435.21528995</real>
				<key>version</key>
				<dict>
					<key>ddc2126949ee6c32f860db5427f1bb375982765f2e604047efd49e58fc3e00d3</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>chapter04</key>
			<dict>
				<key>lastModification</key>
				<real>544004435.23834205</real>
				<key>version</key>
				<dict>
					<key>ddc2126949ee6c32f860db5427f1bb375982765f2e604047efd49e58fc3e00d3</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>chapter05</key>
			<dict>
				<key>lastModification</key>
				<real>544004435.27830303</real>
				<key>version</key>
				<dict>
					<key>ddc2126949ee6c32f860db5427f1bb375982765f2e604047efd49e58fc3e00d3</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>chapter06</key>
			<dict>
				<key>lastModification</key>
				<real>544004435.31796503</real>
				<key>version</key>
				<dict>
					<key>ddc2126949ee6c32f860db5427f1bb375982765f2e604047efd49e58fc3e00d3</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>chapter07</key>
			<dict>
				<key>lastModification</key>
				<real>544004435.36531305</real>
				<key>version</key>
				<dict>
					<key>ddc2126949ee6c32f860db5427f1bb375982765f2e604047efd49e58fc3e00d3</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>chapter08</key>
			<dict>
				<key>lastModification</key>
				<real>544004435.39601099</real>
				<key>version</key>
				<dict>
					<key>ddc2126949ee6c32f860db5427f1bb375982765f2e604047efd49e58fc3e00d3</key>
					<integer>18</integer>
				</dict>
			</dict>
			<key>chapter09</key>
			<dict>
				<key>lastModification</key>
				<real>544004435.41561997</real>
				<key>version</key>
				<dict>
					<key>ddc2126949ee6c32f860db5427f1bb375982765f2e604047efd49e58fc3e00d3</key>
					<integer>19</integer>
				</dict>
			</dict>
			<key>end</key>
			<dict>
				<key>lastModification</key>
				<real>544004435.43256402</real>
				<key>version</key>
				<dict>
					<key>ddc2126949ee6c32f860db5427f1bb375982765f2e604047efd49e58fc3e00d3</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>ps</key>
			<dict>
				<key>lastModification</key>
				<real>544004435.44391298</real>
				<key>version</key>
				<dict>
					<key>ddc2126949ee6c32f860db5427f1bb375982765f2e604047efd49e58fc3e00d3</key>
					<integer>21</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetClusters</key>
		<dict/>
	</dict>
	<key>sheetClusters</key>
	<array/>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>ddc2126949ee6c32f860db5427f1bb375982765f2e604047efd49e58fc3e00d3</key>
			<integer>21</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>ddc2126949ee6c32f860db5427f1bb375982765f2e604047efd49e58fc3e00d3</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
