<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>新建文件夹</string>
		<string>chapter00</string>
		<string>ps</string>
		<string>end</string>
		<string>chapter07</string>
		<string>chapter08</string>
		<string>chapter09</string>
		<string>chapter06</string>
		<string>chapter05</string>
		<string>chapter04</string>
		<string>chapter03</string>
		<string>chapter02</string>
		<string>chapter01</string>
	</array>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>chapter00</key>
			<dict>
				<key>lastModification</key>
				<real>541007809.99963796</real>
				<key>version</key>
				<dict>
					<key>ddc2126949ee6c32f860db5427f1bb375982765f2e604047efd49e58fc3e00d3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>chapter01</key>
			<dict>
				<key>lastModification</key>
				<real>541007809.99964201</real>
				<key>version</key>
				<dict>
					<key>ddc2126949ee6c32f860db5427f1bb375982765f2e604047efd49e58fc3e00d3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>chapter02</key>
			<dict>
				<key>lastModification</key>
				<real>541007809.99964201</real>
				<key>version</key>
				<dict>
					<key>ddc2126949ee6c32f860db5427f1bb375982765f2e604047efd49e58fc3e00d3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>chapter03</key>
			<dict>
				<key>lastModification</key>
				<real>541007809.99964094</real>
				<key>version</key>
				<dict>
					<key>ddc2126949ee6c32f860db5427f1bb375982765f2e604047efd49e58fc3e00d3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>chapter04</key>
			<dict>
				<key>lastModification</key>
				<real>541007809.99964094</real>
				<key>version</key>
				<dict>
					<key>ddc2126949ee6c32f860db5427f1bb375982765f2e604047efd49e58fc3e00d3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>chapter05</key>
			<dict>
				<key>lastModification</key>
				<real>541007809.99964094</real>
				<key>version</key>
				<dict>
					<key>ddc2126949ee6c32f860db5427f1bb375982765f2e604047efd49e58fc3e00d3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>chapter06</key>
			<dict>
				<key>lastModification</key>
				<real>541007809.99963999</real>
				<key>version</key>
				<dict>
					<key>ddc2126949ee6c32f860db5427f1bb375982765f2e604047efd49e58fc3e00d3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>chapter07</key>
			<dict>
				<key>lastModification</key>
				<real>541007809.99963999</real>
				<key>version</key>
				<dict>
					<key>ddc2126949ee6c32f860db5427f1bb375982765f2e604047efd49e58fc3e00d3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>chapter08</key>
			<dict>
				<key>lastModification</key>
				<real>541008269.32643998</real>
				<key>version</key>
				<dict>
					<key>ddc2126949ee6c32f860db5427f1bb375982765f2e604047efd49e58fc3e00d3</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>chapter09</key>
			<dict>
				<key>lastModification</key>
				<real>541008277.07537305</real>
				<key>version</key>
				<dict>
					<key>ddc2126949ee6c32f860db5427f1bb375982765f2e604047efd49e58fc3e00d3</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>end</key>
			<dict>
				<key>lastModification</key>
				<real>541007809.99963903</real>
				<key>version</key>
				<dict>
					<key>ddc2126949ee6c32f860db5427f1bb375982765f2e604047efd49e58fc3e00d3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>ps</key>
			<dict>
				<key>lastModification</key>
				<real>541007809.99963903</real>
				<key>version</key>
				<dict>
					<key>ddc2126949ee6c32f860db5427f1bb375982765f2e604047efd49e58fc3e00d3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>新建文件夹</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>541007817.89927101</real>
				<key>lastModification</key>
				<real>541007817.89927101</real>
				<key>version</key>
				<dict>
					<key>ddc2126949ee6c32f860db5427f1bb375982765f2e604047efd49e58fc3e00d3</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>ddc2126949ee6c32f860db5427f1bb375982765f2e604047efd49e58fc3e00d3</key>
			<integer>9</integer>
		</dict>
	</dict>
</dict>
</plist>
