<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>README.md</key>
			<dict>
				<key>lastModification</key>
				<real>541007858.01853895</real>
				<key>version</key>
				<dict>
					<key>ddc2126949ee6c32f860db5427f1bb375982765f2e604047efd49e58fc3e00d3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>preface.md</key>
			<dict>
				<key>lastModification</key>
				<real>541007858.01853895</real>
				<key>version</key>
				<dict>
					<key>ddc2126949ee6c32f860db5427f1bb375982765f2e604047efd49e58fc3e00d3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>preface2.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>541007960.09624004</real>
				<key>lastModification</key>
				<real>541007960.09624004</real>
				<key>version</key>
				<dict>
					<key>ddc2126949ee6c32f860db5427f1bb375982765f2e604047efd49e58fc3e00d3</key>
					<integer>5</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>preface2.md</string>
		</array>
		<array>
			<string>preface.md</string>
		</array>
		<array>
			<string>README.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>ddc2126949ee6c32f860db5427f1bb375982765f2e604047efd49e58fc3e00d3</key>
			<integer>5</integer>
		</dict>
	</dict>
</dict>
</plist>
